* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: lavender;
}

.headerWhatTheTemp {
    background: linear-gradient(to bottom right, lavender,#9370DB);
}

.weatherText {
    margin-left: 15%;
    font-size: 2.5em;
    transition: all 0.5s ease-in-out;
}

.weatherText:hover {
    margin-left: 15%;
    font-size: 2.5em;
    color: #fff5ee;
    transform: scale(1.1);
}

/* current forecast container outline */
.weatherToday {
    border: 3px solid #9370DB;
    border-radius: 35px;
    height: 250px;
}

/* class to style city history button*/
.cityButton, .searchBtn {
    width: 100%;
    background-color: #9370DB;
    border:none !important;
    outline:none !important;
    color: black;
}

.cityButton:hover, .searchButton:hover {
    background-color: #565688;
}

.card {
    background-color: #9370DB;
    color: black;
    width: 10rem;
    background: linear-gradient(to top, #9370DB, lavender);
}

