* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: lavender;
}

.headerWhatTheTemp {
    background: linear-gradient(to bottom right, lavender,#9370DB);
}

.weatherText {
    margin-left: 15%;
    font-size: 2.5em;
    transition: all 0.5s ease-in-out;
}

.weatherText:hover {
    margin-left: 15%;
    font-size: 2.5em;
    color: #fff5ee;
    transform: scale(1.1);
}


